:root {
    --white-color: #fff;
    --black-color: #333;
    --font-size: 16px;
    --text-color: #f7fffe;
    --header-height: 118px;
    --primary-color: #4682B4;
    --notification-height: 280px;
    --notification-width: 350px;
    --advertisement--heght: 242px;
}




/*header begin*/

.logo-img:hover{
    cursor: pointer;
}

.logo-content {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 15px 0 5px;
    font-size: 20px;

}

.navbar{
    
    background: linear-gradient(0, var(--primary-color), var(--primary-color));
}
.navbar-list{
    width: 30%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.navbar-icon{
    color: var(--white-color);
    padding-left: 10px;
    padding-right: 2px;
}
.navbar-itemlink{
    color: #fff;
}



/*main*/
/* .main {
    flex: 1;
} */
.advertisement{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    overflow: hidden;
    position: relative;
    min-height: 600px;
}
.advertisement-imgs{
    width: 353px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 40px;

    border-radius: 10px;
    position: absolute;
    top: 50%;
    /* right: 50%; */
    transform: translateX(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.advertisement .active{
    opacity: 1;
}

.login{
    flex: 2;
}

.login-content{
    margin-bottom: 10px;
    
}

.login-content .active {
    background-color: #fff;
    color : #000;
    border-bottom:none;
}
.login-contentlogin,
.login-contentregis{
    flex: 1;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    padding-top: 10px;
    cursor: pointer;
    height: 100%;
    background-color: #4682B4;
    color: #f7fffe;
}

.login-contentlogin:hover,
.login-contentregis:hover {
    background-color: #fff;
    color: #000;
    border-bottom: none;
}

.login-form{
    display: block;
    width: 80%;
    max-width: 406px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.login-acc,
.login-password,
.required-password,
.register-name{
    display: block;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 30px;

}
.login-acc{
    margin-top: 70px;
}


.required-password{
    margin-top: 30px;
}

.required{
    font-size: 12px;
    color: red;
    display: none;
    position: absolute;
}
.required-acc{
    top: 38px;
    /* display: block; */
}
.required-pass{
    top: 106px;
}

.required-name {
    top: 40px;
    display: none;
}

.register-form .required-acc{
    top: 147px;
    /* display: block; */
}
.register-form .required-pass{
    top: 216px;
}



.login-password{
    margin-bottom: 10px;
}

.reRequired-pass{
    top: 284px;
    display: none;
}

.login-submit,
.register-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    width: 100%;
}




.login-mispassw{
    color: #333;
    opacity: 0.6;
    float: right;
    font-size: 13px;

}


.login-with{
    display: flex;
    margin-top: 40px;
}

.login-facebook,
.login-google {
    flex: 1;
    padding: 5px 0;
    border-radius: 4px;
    position: relative;
    border: 1px solid #ccc;
    position: relative;
}


.login-facebook{
    background-color: blue;
    margin-right: 20px;
}

.login-google{
    background-color: #f0ffff;
}

.login-facebook-content,
.login-google-content{
    padding-left: 5px;

}

.login-facebook-content::after,
.login-google-content::after{
    content: "";
    width: 158px;
    height: 28px;
    top: 0;
    left: 0;
    position: absolute;
}
.login-facebook-content{
    color: #f7fffe;
}

.login-withicon{
    margin-right: 10px;
}
.login-withicon::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 29px;
    background-color: #000;
    top: 0;
    left: 26px;

}




/*Ẩn */
.register-form .login-mispassw {
    display: none;
}
.register-form .login-with {
    display: none;
}

.register-form .login-submit{
    display: none;
}

.register-form .login-acc{
    margin-top: 30px;
}

/*Hiện*/
.register-submit,
.register-sex,
.register-name,
.required-password,
.register-policy {
    display: none;
}


.register-date{
    float: right;
}

.register-form .register-submit,
.register-form .required-password,
.register-form .register-name{
    display: block;
}

.register-form .register-sex{
    margin-top: 20px;
    display: block;
}

.register-form .register-policy{
    display: block;
    margin-top: 20px;
}

.register-gender{
    min-width: 100px;
}




/*main end*/


/*header end*/

/*footer */
footer{
    padding: 20px 10px;
    color: #f0ffff;
    background-color: #4682B4;
}
footer a{
    color: #f0ffff;

}
.footerheading{}
.contact{
    margin-top: 30px;
}
.contact__online{
    flex: 1;
}
.contact__facebook{}


.contact__icon{
    margin-right: 8px;
    padding-bottom: 10px;
}
.contact__instagram{}
.contact__off{
    flex: 1;
}
.contact__address{
    padding-bottom: 10px;

}
.contact__phone{}

/*footer end*/

body{
    position: relative;
}

.term{
    position: absolute;
    width: 100%;  
    height: 100%;  
    top: 0;
    background-color: #33333399;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.term-regis{
    width: 400px;
    height: 400px;
    background-color: #000;
    color: #ccc;
    line-height: 25px;
    padding: 10px 10px;
}

.term-regis h2{
    margin-bottom: 10px;
}



